$elf-green: #078282;
$woodsmoke: #121117;
$limed-spruce: #3D4955;
$fountain-blue: #45BBBC;
$smalt-blue: #50828C;
$jumbo-white: #e8eae9;
$text-color: #21333E;
$logo-bg: #75C6C7;
$input: #CDD1D4;
$cloudy: #a5a09d;
$company: #0e272d;
$services: #eef4ed;